@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div class="confirmemail">
    <p>
        Thank you for confirming your email. Please login into account with your email and password.
    </p>
</div>
