
@{
    ViewBag.Title = "SuccesfulRegistration";
}

<h2>@ViewBag.Title</h2>
<div class="confirmemail">
    <p>
        You have successfully registered. Please check your email to confirm your account.
    </p>
</div>
