@{
    ViewBag.Title = "Error";
}

<div class="submitcartpage">
    <div class="col-2">
        <p>
            @Html.ActionLink("Go back to Cart", "Index");
        </p>

        <h2>There was an error with the purchase</h2>

    </div>
</div>