@model DataLayer.Cart

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div class="managepage">
    <div class="col-2">
        @if (Model.PicturesInCart.Count != 0)
        {
            foreach (DataLayer.Picture pic in Model.PicturesInCart)
            {
                <p> @pic.Title | @Html.ActionLink("Delete", "Delete", new { picId = pic.Id })</p>
            }

            <p>
                @Html.ActionLink("Checkout", "CheckOut")
            </p>
        }
        else
        {
            <p> Your Cart is Empty</p>
        }
    </div>
</div>
