@model DataLayer.Album

@{
    ViewBag.Title = "PurchasedAlbum";
}

<h2>PurchasedAlbum</h2>

<div class="myWorkContent3">
    <div id="insideDiv">
        @foreach (DataLayer.Picture pic in Model.Pictures)
        {
            <div class="continer">
                <div class="imagegallery">
                    <a href='@Url.Action("OriginalImg", "PurchasedThings", new { id = pic.Id })'>
                        <img src="data:image/jpeg;base64, @Convert.ToBase64String(pic.CompressImg, 0, pic.CompressImg.Length)" style="width:150px;height:150px;border-radius: 15px 15px 15px 15px; display:inline;" />
                        <p> @pic.Title</p>
                    </a>
                </div>

            </div>
        }
    </div>
</div>