@{
    ViewBag.Title = "Home Page";
}

<header class=" content">
    <div class="wrapper">
        <h1>PhotoBucket</h1>
        <p>Photography is an art, PhotoBucket is a platform for you to exhibit your own works for sale. Start with few easy steps and share your beauty with the rest of the world. </p>
        <div class="row">
            <div class="boxes1">
                <img src="image14.jpg" style="width:304px;height:228px">
            </div>

            <div class="boxes2">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/Views/Images/image15.jpg" />
            </div>
            <div class="boxes3">
                <img src="image16.jpg" style="width:304px;height:228px">
            </div>
        </div>
    </div>
</header>
<section class="content" id="oil">
    <div class="wrapper">
        <h1>It's only three easy steps:</h1>
        <h2>1. &nbsp; Create your own account</h2>
        <h3>2. &nbsp; Upload your images</h3>
        <h4>3. &nbsp; Sell your art to others</h4>
        <div class="fadein">
            <img src="image20.jpg" style="width:454px;height:288px">
            <img src="image24.jpg" style="width:454px;height:288px">
            <img src="image26.jpg" style="width:454px;height:288px">
            <img src="image30.jpg" style="width:454px;height:288px">
            <img src="image19.jpg" style="width:454px;height:288px">
            <img src="image22.jpg" style="width:454px;height:288px">
            <img src="image29.jpg" style="width:454px;height:288px">
            <img src="image25.jpg" style="width:454px;height:288px">
        </div>
    </div>
</section>
<section class="content " id="culinary">
    <div class="wrapper">
        <p> Or just register and enjoy the art of other photographers. Pick your favorite works, add them to your cart and purchase by placing order and receiving email with HD versions of images. </p>
    </div>
</section>
<section class="content " id="dried">
    <div class="wrapper">
        <p>
            Start now and join the community of photographers who appreciate the art.
        </p>
    </div>
</section>