@model Tuple<List<DataLayer.Picture>, List<DataLayer.Album>>

@{
    ViewBag.Title = "OwnedPictures";
}

<div class="cartpage">
    <div class="col-2">
    </div>
    <div class="myWorkContent3">
        <div id="insideDiv">
            @if (Model.Item1.Count > 0)
            {
                foreach (DataLayer.Picture pic in Model.Item1)
                {
                    <div class="continer">
                        <div class="imagegallery">
                            <a href='@Url.Action("OriginalImg", "PurchasedThings", new { id = pic.Id })'>
                                <img src="data:image/jpeg;base64, @Convert.ToBase64String(pic.CompressImg, 0, pic.CompressImg.Length)" style="width:150px;height:150px;border-radius: 15px 15px 15px 15px; display:inline;" />
                                <p> @pic.Title</p>
                            </a>
                        </div>

                    </div>
                }
            }
            @if (Model.Item1.Count + Model.Item2.Count <= 0)
            {
                <p> You have not yet purchased any pictures</p>
            }
        </div>


    </div>
</div>
